.cve-success{
    background-color: #4CAF50;
}

.cve-danger{
    background-color: #f44336;
}

.cve-warning{
    background-color: #ff9800;
}

.cve-primary{
    background-color: #2196F3;
}

.cve-alert {
    padding: 20px;
    color: white;
}

.cve-alert-close-btn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.cve-alert-close-btn:hover {
    color: black;
}

#cve-snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#cve-snackbar.cve-snackbar-show {
    visibility: visible;
    -webkit-animation: cve-fadein 0.5s, cve-fadeout 0.5s 2.5s;
    animation: cve-fadein 0.5s, cve-fadeout 0.5s 2.5s;
}

@-webkit-keyframes cve-fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes cve-fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes cve-fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes cve-fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}


/* Default Navbar CSS Start */
#cve_default_nav_wrap
{
    margin-top:15px
}

#cve_default_nav_wrap ul
{
    list-style:none;
    position:relative;
    float:left;
    margin:0;
    padding:0
}

#cve_default_nav_wrap ul a
{
    display:block;
    color:#333;
    text-decoration:none;
    font-weight:700;
    font-size:12px;
    line-height:32px;
    padding:0 15px;
    font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#cve_default_nav_wrap ul li
{
    position:relative;
    float:left;
    margin:0;
    padding:0
}

#cve_default_nav_wrap ul li.current-menu-item
{
    background:#ddd
}

#cve_default_nav_wrap ul li:hover
{
    background:#f6f6f6
}

#cve_default_nav_wrap ul ul
{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#fff;
    padding:0
}

#cve_default_nav_wrap ul ul li
{
    float:none;
    width:200px
}

#cve_default_nav_wrap ul ul a
{
    line-height:120%;
    padding:10px 15px
}

#cve_default_nav_wrap ul ul ul
{
    top:0;
    left:100%
}

#cve_default_nav_wrap ul li:hover > ul
{
    display:block
}
/* Default Navbar CSS End */